@import url("../../root.css");

#futureforecast {
  background-color: rgba(0, 0, 0, 0.068);
  z-index: 999;
  position: absolute;
  width: 80%;
  height: calc(22.5vh + 22.5vw);
  top: 150%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

$top_header_height: calc(5vh + 5vw);

#futureforecast #top {
  width: 100%;
  height: $top_header_height;
  display: flex;
  align-items: center;
  padding-inline: calc(2vh + 2vw);
}

#futureforecast #top #title {
  text-transform: uppercase;
  letter-spacing: calc(0.1vh + 0.1vw);
}

$forecast_width: calc(30vh + 30vw);
$forecast_days_count: 3;

#futureforecast #top #frcst {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 0;
  width: $forecast_width;
  height: $top_header_height;
}

#futureforecast #top #frcst .day {
  height: 100%;
  min-width: calc($forecast_width / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: calc(1vh + 1vw);
  transition: 0.1s;
}

#futureforecast #top #frcst .day.selected {
  color: black;
}

#futureforecast #top #frcst .day.selector {
  position: absolute;
  background-color: white;
  left: calc(($forecast_width / 3) * 0);
  z-index: -1;
}

#futureforecast #top #frcst .day:hover {
  background-color: rgb(255, 238, 52);
  color: black;
}

#futureforecast #down {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
  overflow-x: scroll;
}

#futureforecast #down .sides {
  height: 100%;
  width: 50%;
  overflow-x: scroll;
}

#futureforecast #down #left {
  color: black;
  overflow: hidden;
}

#futureforecast #down #right {
  overflow-y: scroll !important;
  overflow-x: scroll;
}

.bottomforecast span {
  font-size: calc(1vh + 1vw);
  color: black;
}

.bottomforecast {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: calc(100% / 3);
  height: calc(100% / 3);
  color: black;
  font-size: calc(2vh + 2vw);
  z-index: 99999;
  user-select: none;
  transition: 0.1s;
}

.bottomforecast p {
  display: flex;
}

.bottomforecast.weather p {
  font-size: calc(1vh + 1vw);
  font-weight: bold;
}

.bottomforecast:hover {
  background-color: rgb(255, 238, 52);
  color: black;
  scale: 1.1;
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.247));
}

.bottomforecast .unit {
  font-size: calc(0.75vh + 0.75vw);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.637);
}

$time_weather_width: calc(70vh + 70vw);
$hour_width: calc($time_weather_width / 23);

.timeWeather {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
  width: $time_weather_width;
  background-color: var(--sky);
}

.timeWeather.hour {
  user-select: none;
  margin-top: auto;
  margin-bottom: 0;
  height: 100;
  width: $hour_width;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  overflow: visible;
  background-color: white;
  border-radius: calc(.5vh + .5vw) calc(.5vh + .5vw) 0 0;
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.247));
}

.timeWeather.hour span{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: calc(.5vh + .5vw);
  width: 100%;
}

.timeWeather.hour.selected{
  background-color: rgb(255, 234, 44);
  font-weight: bold;
}

.timeWeather.hour:hover {
  background-color: hwb(56 31% 0% / 0.2);
  color: white;
}

.timeWeather.hour:hover > .hourDisplay {
  font-weight: bold;
}

.timeWeather.hour:hover > span {
  font-weight: bold;
}

.timeWeather.hour span {
  margin-left: auto;
  margin-right: 0;
}

.timeWeather.hour .hourDisplay {
  margin-top: auto;
  margin-bottom: 0;
}

.scroll {
  position: absolute;
  height: calc(2vh + 2vw);
  width: calc(2vh + 2vw);
  border-radius: calc(0.2vh + 0.2vw);
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  bottom: 0;
  transform: translateY(-250%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1vh + 1vw);
  user-select: none;
  z-index: 999;
}

.scroll.left {
  margin-left: calc(0.5vh + 0.5vw);
}

.scroll.right {
  right: calc(0.5vh + 0.5vw);
}

.scroll:hover {
  opacity: 0.75;
  cursor: pointer;
}

#DaySelector {
  display: flex;
}

#forecastBoxes {
  height: 100%;
  width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 910px) {
  #futureforecast #top #title{
    display: none;
  }

  #futureforecast #top #frcst .day.selector {
    display: none;
  }


  #DaySelector {
    width: 100%;
  }

  #futureforecast #top #frcst .day {
    min-width: calc(100% / 3);
  }

  #futureforecast #top #frcst {
    width: 100%;
    left: 0;
  }

  #futureforecast #top #frcst .day.selected {
    background-color: white;
  }

  #futureforecast #top #frcst .day:hover{
    background-color: white;
  }

  #futureforecast {
    top: 120%;
    height: calc(50vh + 50vw);
  }

  #futureforecast #down{
    flex-direction: column;
  }

  #futureforecast #down #left{
    border-bottom: solid black calc(.1vh + .1vw);
  }

  #futureforecast #down #left, #futureforecast #down #right{
    width: 100%;
  }

  .timeWeather{
    width: calc(100vh + 100vw);
  }

  .timeWeather.hour{
    width: calc(100% / 23);
  }

  .timeWeather.hour:hover{
    background-color: rgb(255, 234, 44);
    color: black;
    font-weight: normal;
  }
}

@media screen and (max-width: 640px) {
  #futureforecast{
    width: 100%;
    height: 120%;
  }

  .timeWeather .scroll{
    scale: 2;
    margin: calc(2vh + 2vw);
  }
}