#futureforecast {
  background-color: rgba(0, 0, 0, 0.068);
  z-index: 999;
  position: absolute;
  width: 80%;
  height: calc(22.5vh + 22.5vw);
  top: 150%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

$top_header_height: calc(5vh + 5vw);

#futureforecast #top {
  width: 100%;
  height: $top_header_height;
  display: flex;
  align-items: center;
  padding-inline: calc(2vh + 2vw);
}

#futureforecast #top #title {
  text-transform: uppercase;
  letter-spacing: calc(0.1vh + 0.1vw);
}

$forecast_width: calc(30vh + 30vw);
$forecast_days_count: 3;

#futureforecast #top #frcst {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 0;
  width: $forecast_width;
  height: $top_header_height;
}

#futureforecast #top #frcst .day {
  height: 100%;
  min-width: calc($forecast_width / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: calc(1vh + 1vw);
  transition: 0.1s;
}

#futureforecast #top #frcst .day.selector {
  position: absolute;
  background-color: white;
  left: calc(($forecast_width / 3) * 0);
  z-index: -1;
}

#futureforecast #top #frcst .day:hover {
  background-color: rgb(255, 238, 52);
  color: black;
}

#futureforecast #down {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
}

#futureforecast #down .sides {
  height: 100%;
  width: 50%;
}

#futureforecast #down #left {
  color: black;
}

#futureforecast #down #right {
  overflow-y: scroll !important;
}

.bottomforecast span {
  font-size: calc(1vh + 1vw);
  color: black;
}

.bottomforecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: calc(100% / 3);
  height: calc(100% / 3);
  color: black;
  font-size: calc(2vh + 2vw);
  z-index: 99999;
  user-select: none;
  transition: 0.1s;
}

.bottomforecast p {
  display: flex;
}

.bottomforecast.weather p {
  font-size: calc(1vh + 1vw);
  font-weight: bold;
}

.bottomforecast:hover {
  background-color: rgb(255, 238, 52);
  color: black;
  scale: 1.1;
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.247));
}

.bottomforecast .unit {
  font-size: calc(0.75vh + 0.75vw);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.637);
}

.timeWeather.hour {
  width: 100%;
  height: calc(2vh + 2vw);
  display: flex;
  align-items: center;
  border-bottom: calc(0.01vh + 0.01vw) solid black;
  transition: 0.1s;
  cursor: pointer;
}

.timeWeather.hour:hover {
  background-color: rgb(255, 238, 52);
}

.timeWeather.hour span {
  margin-left: auto;
  margin-right: 0;
}
