
:root{
  --sky: rgba(83, 184, 252, 0.842);
  --searchBar-hidden-width: calc(10vh + 10vw);
  --searchBar-visible-width: calc(15vh + 15vw);
  --sea-background:url('../public//background/sea.jpg');
  --window-opacity: .7;
  --search-icon: url('../public/icons/search.png');
  --menu-icon: url('../public/icons/menu.png');
}

body{
  overflow: hidden;
}

.App{
  background: radial-gradient(var(--sky), rgba(50, 172, 253, 0.842));
  color: white;
  width: 100vw;
  height: 100vh;
}

#header{
  position: absolute;
  width: calc(100vw - 2 * calc(.5vh + .5vw));
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  border-radius: calc(1vh + 1vw);
  background-color: rgb(0, 0, 0, var(--window-opacity));
  margin: calc(.5vh + .5vw);
}

#searchBar {
  border: calc(.05vh + .05vw) solid rgba(180, 173, 173, 0);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: var(--searchBar-hidden-width);
  height: calc(1.3vh + 1.3vw);
  padding-inline: 10px;
  transition: .25s;
  outline: none;
  display: flex;
  align-items: center;
}

#searchBar #srch_underline{
  position: absolute;
  width: calc(var(--searchBar-hidden-width) - calc(.45vh + .45vw));
  left: calc(.45vh + .45vw);
  background-color: white;
  height: calc(.05vh + .05vw);
  bottom: 0;
  transition: .25s;
  opacity: 0;
}

#searchBar #input {
  height: 100%;
  width: 90%;
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.712);
  letter-spacing: calc(.01vh + .01vw);
  font-size: calc(.7vh + .7vw);
  transition: .25s;
}

#searchBar #input::placeholder{
  color: rgba(255, 255, 255, 0.473);
}

#searchBar #input:hover ~ #srch_underline{
  opacity: var(--window-opacity);
}

#searchBar:focus-within{
  width: var(--searchBar-visible-width);
}

#searchBar:focus-within > #srch_underline{
  opacity: --window-opacity;
  width: calc(var(--searchBar-visible-width) - calc(.45vh + .45vw));;
}

#searchBar:focus-within > #input{
  color: white;
}

#srchButton{
  cursor: pointer;
  background: var(--search-icon);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: var(--window-opacity);
  height: calc(.95vh + .95vw);
  width: calc(.95vh + .95vw);
  position: absolute;
  right: 0;
  transition: .25s;
}

#srchButton:hover{
  opacity: 1;
}








#header #menu{
  width: calc(1vh + 1vw);
  height: calc(1vh + 1vw);
  background-image: var(--menu-icon);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: var(--window-opacity);
  transition: .25s;
}

#header #menu:hover{
  opacity: 1;
}






.infoWindow{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(8vh + 8vw);
  left: calc(.5vh + .5vw);
  border-radius: calc(1vh + 1vw);
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: calc(1vh + 1vw);
  padding-bottom: calc(1vh + 1vw);
  padding-left: calc(1vh + 1vw);;
  height: fit-content;
}

.infoTitle{
  font-size: calc(3vh + 3vw);
  letter-spacing: calc(.1vh + .1vw);
  animation: 1s forwards slide-left;
}

@keyframes slide-left {
  0%{
    margin-left: -100%;
  }
  100%{
    margin-left: 0%;
  }
}

#info{
  font-size: calc(1vh + 1vw);
  user-select: none;
  transition: .1s;
  animation: 1s forwards slide-left;
}

#info:hover{
  font-size: calc(2vh + 2vw);
  background-color: white;
  color: var(--sky);
  padding-left: 2vw;
}

#underline{
  background-color: white;
  height: calc(.1vh + .1vw);
  position: absolute;
}










.circle, .sun, .box{
  position: absolute;
  border-radius: 50%;
}

.box{border-radius: 0;}

.circle{
  background-color: red;
}

.sun{
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s sunRise forwards;
}

.sun h1{
  color: black;
  font-size: calc(1vh + 1vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pivot{
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: flex;
}

.ray{
  width: calc(.5vh + .5vw);
  height: calc(1.5vh + 1.5vw);
  background-color: yellow;
  border-radius: calc(1vh + 1vw);
  margin-bottom: calc(12vh + 12vw);
  animation: 1s goUp forwards;
}

@keyframes sunRise {
  from{
    top: 100vh;
  }
}

@keyframes goUp {
  from{
    margin-bottom: 0;
  }
}

.cloud{
  filter: drop-shadow(0 0 calc(.1vh + .1vw) rgba(0, 0, 0, 0.247));
}


#goLeft *{
  animation: 2s forwards goLeft;
}

#goRight *{
  animation: 2s forwards goRight;
}

@keyframes goLeft {
  from{
    left: 200vw;
  }
}

@keyframes goRight {
  to{
    left: 200vw;
  }
}

@keyframes goDark {
  from{
    left: 200vw;
  }
  to{
    background-color: rgb(150, 150, 150);
  }
}



.rain{
  position: absolute;
  height: 1vh;
  background-color: rebeccapurple;
}



.drop{
  background-color: rgb(0, 110, 255);
  height: calc(.5vh + .5vw);
  width: calc(.1vh + .1vw);
  position: absolute;
  border-radius: calc(1vh + 1vw);
  top: 0;
}


@keyframes goDown {
  to{
    top: 100vh;
  }
}
