@import url(root.css);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  background: radial-gradient(var(--sky), rgba(50, 172, 253, 0.842));
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#header {
  overflow: hidden;
  width: calc(15vh + 15vw);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: calc(1vh + 1vw) calc(1vh + 1vw) calc(1vh + 1vw) calc(1vh + 1vw);
  top: 1vh;
  min-height: calc(2vh + 2vw);
  background-color: rgba(0, 0, 0, var(--window-opacity));
  z-index: 9999;
  animation: 0.5s popIn forwards;
}

#searchBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBar #top {
  height: calc(2vh + 2vw);
  display: flex;
}

#searchBar #input {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: none;
  border: none;
  text-decoration: none;
  width: 80%;
  color: rgba(255, 255, 255, 0.651);
  font-size: calc(0.8vh + 0.8vw);
}

#srchButton {
  width: calc(2vh + 2vw);
  height: calc(2vh + 2vw);
  background-image: url("../public/icons/search.png");
  background-size: 40%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.1s;
}

#srchButton:hover {
  background-color: rgb(0, 0, 0);
  filter: invert(1);
}

#searchBar #hints {
  width: 100%;
  height: fit-content;
  top: calc(2vh + 2vw);
  display: flex;
  flex-direction: column;
}

#searchBar #hints .hint {
  width: 100%;
  height: calc(1.5vh + 1.5vw);
  font-size: calc(0.7vh + 0.7vw);
  display: flex;
  align-items: center;
  display: flex;
  cursor: pointer;
  user-select: none;
  padding-left: calc(0.7vh + 0.7vw);
  background: none;
  border: none;
  color: white;
}

#searchBar #hints .hint:focus {
  background-color: white;
  color: black;
  outline: none;
}

#searchBar #hints .hint:hover {
  background-color: white;
  color: black;
}

#searchBar #input:focus {
  outline: none;
  color: white;
}

#searchBar #input::placeholder {
  color: rgba(255, 255, 255, 0.651);
}

#srch_underline {
  position: absolute;
  width: 63.8%;
  height: calc(0.05vh + 0.05vw);
  background-color: rgb(255, 255, 255);
  opacity: 0;
  top: calc(1.7vh + 1.7vw);
  transition: 0.1s;
}

#header:hover #srch_underline {
  opacity: 1;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(8vh + 8vw);
  left: calc(0.5vh + 0.5vw);
  border-radius: calc(1vh + 1vw);
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: calc(1vh + 1vw);
  padding-bottom: calc(1vh + 1vw);
  padding-left: calc(1vh + 1vw);
  height: fit-content;
  z-index: 999;
}

.infoTitle {
  font-size: calc(3vh + 3vw);
  letter-spacing: calc(0.1vh + 0.1vw);
  animation: 1s forwards slide-left;
}

@keyframes slide-left {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

#info {
  font-size: calc(1vh + 1vw);
  user-select: none;
  transition: 0.1s;
  animation: 1s forwards slide-left;
}

#info button {
  width: 100%;
}

#info:hover {
  font-size: calc(2vh + 2vw);
  background-color: white;
  color: var(--sky);
  padding-left: 2vw;
}

#underline {
  background-color: white;
  height: calc(0.1vh + 0.1vw);
  position: absolute;
}

#circle,
.sun,
.box {
  position: absolute;
  border-radius: 50%;
}

.sun {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s sunRise forwards;
  height: calc(9vh + 9vw);
  width: calc(9vh + 9vw);
  position: absolute;
  right: calc(13vh + 13vw);
  top: calc(9vh + 9vw);
}

.sun h1 {
  color: black;
  font-size: calc(1vh + 1vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#pivot {
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: flex;
}

.ray {
  width: calc(0.5vh + 0.5vw);
  height: calc(1.5vh + 1.5vw);
  background-color: yellow;
  border-radius: calc(1vh + 1vw);
  margin-bottom: calc(12vh + 12vw);
  animation: 1s goUp forwards;
}

//Clouds

$cloudsSettings: (
  oneScale: 1,
  twoScale: 0.7,
  threeScale: 1,
  fourScale: 1,
  fiveScale: 1,
);

.cloud {
  position: absolute;
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.247));
}

.cloudCircle,
.box {
  background-color: white;
}

.box {
  width: calc(6.75vh + 6.75vw);
  height: calc(0.65vh + 0.65vw);
  margin-left: calc(2vh + 2vw);
  margin-top: calc(3.35vh + 3.35vw);
  border-radius: 0;
}

.cloudCircle.one,
.cloudCircle.three {
  width: calc(4vh + 4vw);
  height: calc(4vh + 4vw);
}

.cloudCircle.three {
  margin-left: calc(6.75vh + 6.75vw);
}

.cloudCircle.two {
  height: calc(6.25vh + 6.25vw);
  width: calc(6.25vh + 6.25vw);
  margin-left: calc(2.25vh + 2.25vw);
  margin-top: calc(-2.25vh - 2.25vw);
}

//Clouds positions

.cloud.one {
  right: calc(17vh + 17vw);
  top: calc(15vh + 15vw);
  scale: map-get($map: $cloudsSettings, $key: oneScale);
}

.cloud.two {
  top: calc(8vh + 8vw);
  right: calc(27vh + 27vw);
  scale: map-get($map: $cloudsSettings, $key: twoScale);
}

@keyframes sunRise {
  from {
    top: 100vh;
  }
}

@keyframes goUp {
  from {
    margin-bottom: 0;
  }
}

#goLeft {
  animation: 2s forwards goLeft;
}

#goRight {
  animation: 2s forwards goRight;
}

@keyframes goLeft {
  from {
    right: -100vw;
  }
}

@keyframes goRight {
  to {
    right: -100vw;
  }
}

@keyframes goDark {
  from {
    left: 200vw;
  }
  to {
    background-color: rgb(150, 150, 150);
  }
}

.weather.rain {
  width: calc(10.5vh + 10.5vw);
  position: absolute;
  height: 1vh;
  margin-top: calc(2vh + 2vw);
  z-index: -5;
}

.drop {
  background-color: rgb(0, 110, 255);
  height: calc(0.5vh + 0.5vw);
  width: calc(0.1vh + 0.1vw);
  position: absolute;
  border-radius: calc(1vh + 1vw);
  top: 0;
  z-index: -5;
}

@keyframes goDown {
  to {
    top: 100vh;
  }
}

#weatherVisualizer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

$grass_color: rgb(28, 158, 28);
$grass_color_background: rgb(28, 149, 3);
$ground_color: rgb(95, 49, 35);

#ground {
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.247));
  width: 100vw;
  height: 150vh;
  background: linear-gradient($ground_color, rgb(95, 69, 46));
  position: absolute;
  top: 90vh;
  z-index: 5;
}

#ground #grass {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(
    $grass_color,
    $grass_color,
    $grass_color,
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  z-index: 1;
}

$diameter1: calc(9vh + 9vw);
$diameter2: calc(8vh + 8vw);

.ground {
  filter: drop-shadow(0 0 calc(0.1vh + 0.1vw) rgba(0, 0, 0, 0.093));
}

#ground .ground.one {
  width: calc($diameter1 * 10);
  height: calc($diameter1 * 2);
  border-top-right-radius: 100%;
  background: linear-gradient(
    $grass_color,
    $grass_color,
    rgb(0, 134, 0),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: calc(-3vh - 3vw);
  left: 0;
}

#ground .ground.two {
  width: calc($diameter2 * 10);
  height: $diameter2;
  border-top-left-radius: 100%;
  background-color: $grass_color_background;
  position: absolute;
  top: calc(-4vh - 4vw);
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 600px) and (min-height: 600px) {
  .grnd.one {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vw;
    width: 100vw;
    bottom: -50vw;
  }

  .sun {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
  }

  .grnd.two {
    display: none;
  }
}

#copyright {
  position: absolute;
  z-index: 9999;
  font-size: calc(0.3vh + 0.3vw);
  cursor: pointer;
  top: calc(0.1vh + 0.1vw);
  right: calc(0.1vh + 0.1vw);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.514);
}

@media screen and (max-width: 900px) {
  .sun {
    left: 0;
    right: 0;
    top: calc(15vh + 15vw);
    height: calc(12vh + 12vw);
    width: calc(12vh + 12vw);
    margin-left: auto;
    margin-right: auto;
  }
}
